@use "styles/colors";

.hero {
  text-align: center;
  width: 60%;
  margin: auto;

  @media screen  and (max-width: colors.$breakpointSm) {
    width: 100%;
    margin: auto;
  }
  
  h1 {
    font-size: 4em;
    @media screen  and (max-width: colors.$breakpointSm) {
      font-size: 2.5em;
    }
    text-shadow: 0px 0px 100px rgb(255, 255, 255);
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    color: #000;
    padding: 5px 12px;
    text-decoration: none;
    background-color: colors.$aquamarine;
    border-radius: 3px;
    &:hover {
      @include colors.bgTeal;
    }
  }
}

.extraLarge {
  font-size: 3em;
  font-weight: bold;
  line-height: 100%;
}

#Omo {
  position: relative;

  svg {
    position: absolute;
  }
}