@use "styles/colors";

$padding: 4px;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::root {
  color-scheme: dark light;
}

@media (prefers-color-scheme:dark) {
  body {
    background-color: colors.$black;
    color: #fff;
  }
}

body {
  font: 15px/1.4 'Trebuchet MS', sans-serif;
  max-width: 100vw;
  min-height: 100vh;
}

.container {
  padding: 14px;
  width: 90%;
  margin: auto;
}

.center {
  text-align: center;
}

.rounded {
  border-radius: 6px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &.alt {
    flex-direction: row-reverse;
  }

  &.center {
    text-align: unset;
    justify-content: center;
  }

  &.start {
    align-items: start;
  }

  &.between {
    justify-content: space-between;
  }

  &.spaced {
    justify-content: space-around;
  }
}

$columns: 10;

@for $i from 1 through $columns {
  .col-#{$i} {
    width: 100% * calc($i/$columns);
  }
}

@media (max-width: colors.$breakpointSm) {
  [class*="col-"] {
    width: 100%;
  }
}

$widths: (
  10,
  25,
  50,
  75,
  100
);

@each $w in $widths {
  .w-#{$w} {
    width: calc($w/100) * 100%;
    margin: auto;
  }
}


@for $i from 0 through 5 {
  .p-#{$i} {
    padding: $i *$padding;
  }

  .px-#{$i} {
    padding-left: $i *$padding;
    padding-right: $i *$padding;
  }

  .py-#{$i} {
    padding-top: $i *$padding;
    padding-bottom: $i *$padding;
  }
}

.bg-white {
  background: colors.$aquamarine;
  color: #000;
}

.bg-teal {
  background: colors.$teal;
  color: #fff;
}

input {
  display: block;
  width: 100%;
  border: 1px solid colors.$teal;
  padding: 6px;
  border-radius: 4px;
}

.bottom {
  position: absolute;
  width: 100%;
  bottom: 0;
}

button {
  padding: 6px 8px;
  border: 0;
  border-radius: 2px;

  &:disabled {
    background: rgba($color: colors.$teal, $alpha: 0.5);
  }
}